extends layout

block content
  #main.container
    header#header.text-center.py-3.border-bottom
      h1.display-1= __('app.name')
    .row.mt-4.pt-4
      .d-grid.gap-3.col-4.mx-auto
        button.btn.btn-lg.btn-primary(type="button") Nouvelle partie
        button.btn.btn-lg.btn-outline-secondary(type="button") Rejoindre la partie 1
        button.btn.btn-lg.btn-outline-secondary(type="button") Rejoindre la partie 2
