extends layout

block content
  #main.container
    header#header.row.g-0.py-3.border-bottom
      .col.py-3
        button#leave-game.btn.btn-sm.btn-outline-danger(type="button" onclick="window.location.reload()") Quitter
      .col
        h1.text-center.display-3= __('app.name')
        h2#game-number.display-6.text-center Partie #<span class="number"></span>
      #user-panel.col.py-3.text-end
        p.welcome Bonjour <span class="pseudo"></span>
    #choose-game.row.mt-4.pt-4
      .d-grid.gap-3.col-4.mx-auto
        button#new-game.btn.btn-lg.btn-primary(type="button") Nouvelle partie
        button#join-button-template.join.btn.btn-lg.btn-outline-secondary(type="button") Rejoindre la partie <span class="number"></span>
    #main-container.row.g-0
      #news.col
        p.message.waiting-user
          span.spinner-grow.spinner-grow-sm(aria-hidden="true")
          span.text(role="status") En attente d'un autre joueur...
        p.message.user-arrived <span class="player"></span> vous a rejoint !
        p.message.user-left <span class="player"></span> a quitté la partie.
        p.message.opponent Votre adversaire est <span class="player"></span> !
        p.message.i-start C'est à vous de commencer.
        p.message.other-start C'est à lui de commencer.
        p.message.thinking
          span.spinner-grow.spinner-grow-sm(aria-hidden="true")
          span.text(role="status") <span class="player"></span> réfléchit...
        p.message.shot <span class="player"></span> joue <span class="shot"></span>.
        p.message.other-player-left Votre adversaire a quitté la partie.
        p.message.win Vous avez gagné la partie !
        p.message.loose Votre adversaire a gagné la partie.
      #board-game-container.col.col-md-auto(style={
        width: (xNbTile * tileSize) + 'px'
      })
        section.stock.opponent(style={height: tileSize * 0.75 + 'px'})
        section#board-game.d-table(style={
          width: (xNbTile * tileSize) + 'px',
          height: (yNbTile * tileSize) + 'px'
        })
          - for (var y = 0, y2 = yNbTile-1; y < yNbTile; ++y, --y2)
            .d-table-row
              - for (var x = 0, x2 = xNbTile-1; x < xNbTile; ++x, --x2)
                .tile.d-table-cell(style={
                  width: tileSize + 'px',
                  height: tileSize + 'px'
                })
                  div(
                    class='cell' + (y > 0 && y < 3 ? ' river' : '')
                    data-x=x
                    data-y=y
                    style={
                      width: (tileSize - 2) + 'px',
                      height: (tileSize - 2) + 'px'
                    }
                  )
                    - let piece = boardGame.state['pos' + x + '_' + y]
                    - if (piece)
                      - let player = 'p1'
                      include piece.pug
                    - piece = boardGame.state['pos' + x2 + '_' + y2]
                    - if (piece)
                      - let player = 'p2'
                      include piece.pug
        section.stock.player(style={height: tileSize * 0.75 + 'px'})
      #tchat.col

  // Modal affichée lorsque la partie est terminée
  #game-over-modal.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h1.modal-title.fs-5 Partie terminée
          button.btn-close(type='button' data-bs-dismiss='modal')
        .modal-body
          p.message.other-player-left Votre adversaire a quitté la partie.
          p.message.win Vous avez gagné la partie !
          p.message.loose Votre adversaire a gagné la partie.
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Voir le plateau
          button.btn.btn-primary(type='button' onclick="window.location.reload()") Rejouer
