#header
  #leave-game
    display none
  #game-number
    display none
    font-size 1.5rem

#choose-game
  display none
  #join-button-template
    display none

#main-container
  display none
  margin-top 20px

#news
  margin-right 10px
  padding 20px
  background-color #fafad2b0
  .message
    display none
    margin-bottom 0.5rem
  .waiting-user, .thinking
    .text
      padding-left 10px

#tchat
  margin-left 10px
  background-color #fafad2b0

#game-over-modal
  .message
    display none

#board-game-container
  padding 0
  .stock
    background-color #eee

#board-game
  margin 10px auto
  .cell
    background-color #b5cd83
    margin 1px
    &.river
      background-color #99c9e9

  // design général d'une pièce
  .piece
    .outline
      fill #ECDCC4
      stroke-width 1.3
      stroke-linecap round
      stroke-linejoin round
      stroke-miterlimit 4
      stroke-dasharray none
      stroke-opacity 1
    .frame
      stroke-width 0.5
      fill transparent
    &.kodama
      &.selected .outline
        fill kodama_color + 90%
      .outline, .frame
        stroke kodama_color
      .move, .promotion-sign
        fill kodama_color
    &.koropokkuru
      &.selected .outline
        fill koropokkuru_color + 90%
      .outline, .frame
        stroke koropokkuru_color
      .move, .promotion-sign
        fill koropokkuru_color
    &.tanuki
      &.selected .outline
        fill tanuki_color + 90%
      .outline, .frame
        stroke tanuki_color
      .move, .promotion-sign
        fill tanuki_color
    &.kitsune
      &.selected .outline
        fill kitsune_color + 90%
      .outline, .frame
        stroke kitsune_color
      .move, .promotion-sign
        fill kitsune_color

  // design d'une pièce selon son état
  .piece
    display block
    margin auto
    &.opponent
      transform-origin 50% 50%
      transform scale(1,-1)
    & .promotion-sign
      display none
    &.promoted .promotion-sign
      display block
    .move.enabled
      display block
    .move.disabled
      display none
    &.promoted .move.enabledIfPromoted
      display block
    &.promoted .move.disabledIfPromoted
      display none




