#header
  #leave-game
    display none
  #game-number
    display none
    font-size 1.5rem

#choose-game
  display none
  #join-button-template
    display none

#main-container
  display none
  margin-top 20px

#news
  margin-right 10px
  padding 20px
  background-color #fafad2b0
  .message
    display none
    margin-bottom 0.5rem
    em
      font-weight bold
      font-style normal
  .waiting-user, .thinking
    .text
      padding-left 10px

#tchat
  margin-left 10px
  background-color #fafad2b0

#game-over-modal
  .message
    display none

#board-game-container
  padding 0
  .stock
    background-color #eee

.board-game
  margin 10px auto
  .cell
    margin 1px
    background-color #b5cd83
    border 3px solid #b5cd83
    &.last-position
      border 3px solid #ff000087
    &.move-allowed
      border 3px dashed #00000069
      cursor pointer
    &.river
      background-color #99c9e9
      border 3px solid #99c9e9
      &.last-position
        border 3px solid #ff000087
      &.move-allowed
        border 3px dashed #00000069

  // design général d'une pièce
  .piece
    .outline
      fill #ECDCC4
      stroke-width 1.3
      stroke-linecap round
      stroke-linejoin round
      stroke-miterlimit 4
      stroke-dasharray none
      stroke-opacity 1
    .frame
      stroke-width 0.5
      fill transparent
    &.last-played .outline
      fill #ff34344f
    &[data-type="kodama"]
      &[data-selected="1"] .outline
        fill kodama_color + 95%
      .outline, .frame
        stroke kodama_color
      .move, .promotion-sign
        fill kodama_color
    &[data-type="koropokkuru"]
      &[data-selected="1"] .outline
        fill koropokkuru_color + 95%
      .outline, .frame
        stroke koropokkuru_color
      .move, .promotion-sign
        fill koropokkuru_color
    &[data-type="tanuki"]
      &[data-selected="1"] .outline
        fill tanuki_color + 95%
      .outline, .frame
        stroke tanuki_color
      .move, .promotion-sign
        fill tanuki_color
    &[data-type="kitsune"]
      &[data-selected="1"] .outline
        fill kitsune_color + 95%
      .outline, .frame
        stroke kitsune_color
      .move, .promotion-sign
        fill kitsune_color

  // design d'une pièce selon son état
  .piece
    display block
    margin auto
    &[data-side="player"] > *
      cursor pointer
    &[data-side="opponent"]
      transform-origin 50% 50%
      transform scale(1,-1)
    & .promotion-sign
      display none
    &[data-is-promoted="1"] .promotion-sign
      display block
    .move[data-basic-enabled="1"]
      display block
    .move[data-basic-enabled="0"]
      display none
    &[data-is-promoted="1"] .move[data-promoted-enabled="1"]
      display block
    &[data-is-promoted="1"] .move[data-promoted-enabled="0"]
      display none
    &.capture-allowed .outline
      fill #ffb9b9




